# Ignorar diretório de arquivos estáticos coletados
staticfiles/

# Ignorar o ambiente virtual
venv/

# Outros arquivos ou diretórios que você deseja ignorar
*.sqlite3
__pycache__/
*.pyc
.DS_Store
.env