# Core Django
django==5.1.2
gunicorn>=21.2.0
whitenoise==6.0.0
python-decouple==3.8
dj-config-url~=0.1.1
psutil>=5.9.5

# Otimização e cálculo
gurobipy        # Verifique se está sendo instalado via licença
numpy>=1.24.3
pandas>=2.1.1
scikit-learn>=1.0
networkx>=2.6.2
osmnx>=2.0.0rc2
pytz>=2023.3

# HTTP e APIs
requests>=2.32.0
httpx>=0.27.2
urllib3>=2.2.3

# Redis (cache)
django-redis>=5.4.0
redis>=5.2.0
aiohttp==3.9.3
async-timeout<5.0
django-extensions==4.1
celery>=5.3.4

# Segurança
passlib[bcrypt]
python-dotenv

# Geolocalização
geopy
googlemaps

# Visualização e Mapas
matplotlib>=3.5.0
folium>=0.12.1

# Utilitários Assíncronos
asgiref~=3.8.1
async-exit-stack
async-generator

# Instalação
setuptools>=65.5.0
pip>=23.0