{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre - Canguinha Alagoas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Seu CSS personalizado -->
    <link rel="stylesheet" href="{% static 'ecanguinha/css/styles.css' %}">
    <!-- Navbar Bootstrap -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Canguinha Alagoas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    {% comment %} <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'localizacao' %}">Home</a>
                    </li> {% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'localizacao' %}">Localização</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contato</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'duvidas' %}">Dúvidas Frequentes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Sobre o Canguinha Alagoas</h1>
        <p class="mt-4">
            {% comment %} O <strong>Canguinha Alagoas</strong> Estamos em construção. Contato: marcelo.accioly@icloud.com {% endcomment %}
        </p>
        
        <!-- Link para retornar à página Home -->
        <div class="text-center mt-4">
            <a href="{% url 'localizacao' %}" class="btn btn-primary">Voltar para Home</a>
        </div>
    </div>
    <!-- Bootstrap JS e dependências -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
