{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Canguinha</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'ecanguinha/css/styles.css' %}">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    

    <style>
        /* Oculta todos os elementos do body, exceto o #progressContainer, quando a classe 'loading' estiver ativa */
         body.loading #containerGeral {
            display: none;
        }
        body {
            background-color:#feeed2 !important;
        }
        /* Centraliza a barra de progresso */
        #progressContainer {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
            text-align: center;
        }
        .checkbox-group {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(180px, auto));
            gap: 0.5rem 1.5rem;
        }

        .checkbox-group .form-check-label {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .location-fields {
            display: flex;
            gap: 20px;
            align-items: flex-end;
        }
        .location-group {
            flex: 1;
        }
        input.small-input {
            width: 100px;
        }
        .slider-container {
            display: flex;
            flex-direction: column;
        }
        .form-buttons {
            display: flex;
            justify-content: center;
        }
        @keyframes progressAnimation {
            0% {
                stroke-dashoffset: 251.2;
            }
            100% {
                stroke-dashoffset: 0;
            }
        }
        svg circle {
            animation: progressAnimation 3s linear infinite;
        }
    </style>
</head>
<body>
    <input type="hidden" id="csrfTokenGlobal" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <!-- Progresso Caipira -->
    <div id="progressContainer" class="caipira-barra" style="display: none;">
        <div class="caipira-wrapper">
            <div class="caipira-caminho">
                <img id="caipiraIcon" src="{% static 'ecanguinha/img/canguinha_animado.gif' %}" class="emoji-caipira" alt="Caipira Andando" />
            </div>
            <div class="caipira-progresso-externo">
                <div id="barraProgressoInterna" class="caipira-progresso-interno"></div>
            </div>
            <p id="textoProgresso" class="texto-status">0% - Buscando ofertas...</p>
        </div>
    </div>

    <div id="containerGeral">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Canguinha Alagoas</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        {% comment %} <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li> {% endcomment %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'localizacao' %}">Localização</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contato</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
            
        <div class="container mt-5">
            <h1 class="mb-4">Canguinha: Localização do Comprador</h1>
            <form id="locationForm" action="{% url 'listar_produtos' %}" method="post">
                {% csrf_token %}
                <div class="row g-4">
                    <!-- Localização -->
                    <div class="col-md-6">
                        <div class="p-4 border border-primary rounded shadow-sm bg-light w-100">
                            <h5 class="text-primary"><i class="bi bi-geo-alt-fill"></i> Localização</h5>

                            <div class="form-check mb-2">
                                <input type="checkbox" id="checkEndereco" class="form-check-input">
                                <label for="checkEndereco" class="form-check-label">Endereço de Origem(Opcional)</label>
                            </div>

                            <div class="mb-2" id="enderecoGroup" style="display: none;">
                                <label for="endereco" class="form-label">Endereço do Comprador</label>
                                <input type="text" class="form-control" id="endereco" name="endereco">
                                <button type="button" class="btn btn-sm btn-outline-primary mt-2" id="btnObterLocalizacao">Obter Localização</button>
                                <p id="geoStatus" class="text-danger mt-1" style="display: none;"></p>
                            </div>

                            <div class="row mb-2">
                                <div class="col">
                                    <label class="form-label">Latitude</label>
                                    <input type="text" id="latitude" name="latitude" class="form-control small-input" readonly>
                                </div>
                                <div class="col">
                                    <label class="form-label">Longitude</label>
                                    <input type="text" id="longitude" name="longitude" class="form-control small-input" readonly>
                                </div>
                            </div>
                            <p id="labelLocalizacaoObtida" class="text-success small" style="display: none;">📍 Localização obtida com sucesso!</p>

                            <label for="raioSlider" class="form-label mt-2">Raio de Busca (km):</label>
                            <input type="range" class="form-range" id="raioSlider" name="raio" min="1" max="5" value="1">
                            <span id="raioValue" class="small">1 km</span><br>

                            <label for="diasSlider" class="form-label mt-2">Período de Análise (dias):</label>
                            <input type="range" class="form-range" id="diasSlider" name="dias" min="3" max="3" value="3" readonly>
                            <span id="diasValue" class="small">3 dias</span>
                        </div>
                    </div>

                    <!-- Mapa da Região com Leaflet -->
                    <div class="col-md-6">
                        <div class="p-4 border border-warning rounded shadow-sm bg-light h-100 w-100">
                            <h5 class="text-success text-center"><i class="bi bi-map-fill"></i> Mapa da Região</h5>
                            <div id="map" style="flex: 1; min-height: 350px; border-radius: 10px;"></div>
                        </div>
                    </div>

                    <div class="d-flex gap-3 align-items-stretch">
                        <!-- Combustível -->
                        <div class="p-4 border border-warning rounded shadow-sm bg-light w-100 flex-fill">
                            <h5 class="text-warning">
                            <i class="bi bi-fuel-pump-fill"></i> Combustível
                            </h5>
                            <div class="mb-3">
                            <label class="form-label">Selecione o Tipo de Combustível *</label>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="tipoCombustivel" id="gasolina-comum" value="1" required>
                                <label class="form-check-label" for="gasolina-comum">Gasolina Comum</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="tipoCombustivel" id="gasolina-aditivada" value="2">
                                <label class="form-check-label" for="gasolina-aditivada">Gasolina Aditivada</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="tipoCombustivel" id="alcool" value="3">
                                <label class="form-check-label" for="alcool">Álcool</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="tipoCombustivel" id="diesel-comum" value="4">
                                <label class="form-check-label" for="diesel-comum">Diesel Comum</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="tipoCombustivel" id="diesel-aditivado" value="5">
                                <label class="form-check-label" for="diesel-aditivado">Diesel Aditivado (S10)</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="tipoCombustivel" id="gnv" value="6">
                                <label class="form-check-label" for="gnv">GNV</label>
                            </div>
                            
                            </div>
                        </div>
                        </div>

                        <!-- Painel de Preços -->
                        <div class="p-4 border border-danger rounded shadow-sm bg-light text-center w-100 flex-fill">
                            <h5 class="text-danger"><i class="bi bi-currency-exchange"></i> Painel de Preços</h5>
                            <div class="bg-white border rounded p-3 my-2">
                                <h6 class="text-muted" id="painelCombustivelTipo">GASOLINA</h6>
                                <h2 class="text-success">R$ <span id="precoPainel">0,00</span></h2>
                                <div class="small text-muted">
                                    <span class="text-success" id="varSemana">   </span>     <br>
                                    <span class="text-danger" id="varHoje">   </span> 
                                </div>
                            </div>
                            <small class="text-muted">Preço médio na região<br>Atualizado em tempo real</small>
                        </div>
                    </div>

                    <!-- Produtos -->
                    <div class="col-12" id="productSection" style="display: none; width: 100%;">
                        <div class="p-4 border border-purple rounded shadow-sm bg-light">

                            <h5 class="text-purple"><i class="bi bi-basket-fill"></i> Selecionar Produtos</h5>

                            <div class="form-check mb-3">
                                <input type="checkbox" class="form-check-input" id="selectAllCheckbox">
                                <label class="form-check-label" for="selectAllCheckbox">Selecionar Todos</label>
                            </div>

                            <!--<div id="categoryCheckboxes" class="row row-cols-2 row-cols-md-4 g-2"></div>-->
                            <div id="categoryCheckboxes" class="checkbox-group"></div>
                        </div>
                    </div>

                    <!-- Campos ocultos -->
                    <input type="hidden" id="hiddenLatitude" name="hiddenLatitude">
                    <input type="hidden" id="hiddenLongitude" name="hiddenLongitude">
                    <input type="hidden" id="item_list" name="item_list">
                </div>
                <input type="hidden" id="precoCombustivel" name="precoCombustivel" value="0.00">

                <!-- Botão de envio -->
                <div class="form-buttons mt-4 d-flex justify-content-center">
                    <button type="submit" class="btn btn-success btn-lg" id="btnBuscar" disabled aria-disabled="true">
                        <i class="bi bi-search"></i> Buscar Ofertas
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script>
        const urlProcessar = "{% url 'processar_combustivel' %}";

        document.addEventListener("DOMContentLoaded", function () {
            const latitudeInput = document.getElementById("latitude");
            const longitudeInput = document.getElementById("longitude");
            const hiddenLatitude = document.getElementById("hiddenLatitude");
            const hiddenLongitude = document.getElementById("hiddenLongitude");
            const precoCombustivelInput = document.getElementById("precoCombustivel");
            const productSection = document.getElementById("productSection");
            const locationForm = document.getElementById("locationForm");
            const progressContainer = document.getElementById("progressContainer");
            const raioSlider = document.getElementById("raioSlider");
            const diasSlider = document.getElementById("diasSlider");
            const painelCombustivelTipo = document.getElementById("painelCombustivelTipo");
            const precoPainel = document.getElementById("precoPainel");
            const varSemana = document.getElementById("varSemana");
            const varHoje = document.getElementById("varHoje");
            const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]')?.value;

            let map = null;
            function inicializarMapa(lat, lon) {
                if (map) {
                    map.setView([lat, lon], 18);
                    return;
                }

                map = L.map('map').setView([lat, lon], 18);

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 22,
                    attribution: '&copy; OpenStreetMap contributors'
                }).addTo(map);

                L.marker([lat, lon]).addTo(map)
                    .bindPopup('Você está aqui!')
                    .openPopup();
            }

            function obterLocalizacao() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(
                        function (position) {
                            const lat = position.coords.latitude.toFixed(6);
                            const lon = position.coords.longitude.toFixed(6);
                            latitudeInput.value = lat;
                            longitudeInput.value = lon;
                            hiddenLatitude.value = lat;
                            hiddenLongitude.value = lon;
                            document.getElementById("labelLocalizacaoObtida").style.display = "block";

                            inicializarMapa(lat, lon);
                        },
                        function (error) {
                            alert("Erro ao obter localização: " + error.message);
                        }
                    );
                } else {
                    alert("Seu navegador não suporta geolocalização.");
                }
            }

            obterLocalizacao();

            document.getElementById("checkEndereco").addEventListener("change", function () {
                document.getElementById("enderecoGroup").style.display = this.checked ? "block" : "none";
            });

            document.getElementById("btnObterLocalizacao").addEventListener("click", function () {
                const endereco = document.getElementById("endereco").value.trim();
                if (!endereco) return alert("Por favor, insira um endereço válido.");

                fetch(`https://nominatim.openstreetmap.org/search?format=json&q=${encodeURIComponent(endereco)}`)
                    .then(res => res.json())
                    .then(data => {
                        if (data.length > 0) {
                            const { lat, lon } = data[0];
                            latitudeInput.value = lat;
                            longitudeInput.value = lon;
                            hiddenLatitude.value = lat;
                            hiddenLongitude.value = lon;

                            inicializarMapa(lat, lon);
                        } else {
                            alert("Endereço não encontrado.");
                        }
                    })
                    .catch(() => alert("Erro ao buscar localização."));
            });

            document.getElementById("raioSlider").addEventListener("input", e => {
                document.getElementById("raioValue").textContent = `${e.target.value} km`;
            });
            document.getElementById("diasSlider").addEventListener("input", e => {
                document.getElementById("diasValue").textContent = `${e.target.value} dia(s)`;
            });

            function verificarPrecoCombustivel() {
                const precoText = precoPainel?.textContent?.trim().replace(",", ".");
                const preco = parseFloat(precoText);
                if (productSection && !isNaN(preco) && preco > 0) {
                    productSection.style.display = "block";
                } else if (productSection) {
                    productSection.style.display = "none";
                }
            }

            if (precoCombustivelInput) {
                ["input", "change"].forEach(evt =>
                    precoCombustivelInput.addEventListener(evt, verificarPrecoCombustivel)
                );
                verificarPrecoCombustivel();  // checa já no início
            }

            document.querySelectorAll('input[name="tipoCombustivel"]').forEach(radio => {
                radio.addEventListener("change", function () {
                    const tipoCombustivel = this.value;
                    const latitude = latitudeInput.value.trim();
                    const longitude = longitudeInput.value.trim();
                    const raio = raioSlider.value;
                    const dias = diasSlider.value;

                    if (!latitude || !longitude || latitude === "0.0" || longitude === "0.0") {
                        alert("Latitude e longitude são obrigatórias.");
                        return;
                    }

                    console.log({ tipoCombustivel, latitude, longitude, raio, dias });

                    const xhr = new XMLHttpRequest();
                    xhr.open("POST", urlProcessar, true);
                    xhr.setRequestHeader("Content-Type", "application/json");

                    // Enviar o token CSRF se estiver presente no DOM
                    const csrfToken = document.getElementById("csrfTokenGlobal")?.value;
                    if (csrfToken) {
                        xhr.setRequestHeader("X-CSRFToken", csrfToken);
                    }

                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4) {
                            if (xhr.status === 200) {
                                try {
                                    const data = JSON.parse(xhr.responseText);
                                    if (data.media_preco !== undefined) {
                                        const preco = parseFloat(data.media_preco).toFixed(2);
                                        const tipoCombustivelTexto = {
                                            "1": "Gasolina Comum",
                                            "2": "Gasolina Aditivada",
                                            "3": "Álcool",
                                            "4": "Diesel Comum",
                                            "5": "Diesel Aditivado (S10)",
                                            "6": "GNV"
                                        };

                                        const tipo = tipoCombustivelTexto[tipoCombustivel] || "Desconhecido";

                                        //alert(`⛽ Tipo: ${tipo}\n🪙 Valor médio: R$ ${preco}`);

                                        painelCombustivelTipo.textContent = tipo;
                                        precoPainel.textContent = preco;
                                        if (precoCombustivelInput) {
                                            precoCombustivelInput.value = preco;
                                            precoCombustivelInput.dispatchEvent(new Event("change"));
                                        }
                                    } else {
                                        alert("⚠️ Erro ao calcular a média do combustível.");
                                    }
                                } catch (e) {
                                    console.error("Erro ao processar JSON:", e);
                                    alert("Erro ao interpretar resposta do servidor.");
                                }
                            } else {
                                console.error("Erro na requisição:", xhr.status, xhr.statusText);
                                painelCombustivelTipo.textContent = "Erro ao consultar";
                                precoPainel.textContent = "0,00";
                                alert("Erro ao buscar preço do combustível. Tente novamente.");
                            }
                        }
                    };

                    const payload = {
                        tipoCombustivel: parseInt(tipoCombustivel),
                        latitude: parseFloat(latitude),
                        longitude: parseFloat(longitude),
                        raio: parseInt(raio),
                        dias: parseInt(dias)
                    };

                    xhr.send(JSON.stringify(payload));
                });
            });


            locationForm.addEventListener("submit", function (e) {
                const lat = hiddenLatitude.value;
                const lon = hiddenLongitude.value;
                if (!lat || !lon) {
                    alert("A localização não foi capturada corretamente.");
                    e.preventDefault();
                    return;
                }

                const produtosSelecionados = [...document.querySelectorAll('input[name="category"]:checked')];
                if (produtosSelecionados.length === 0) {
                    alert("Por favor, selecione ao menos um produto.");
                    e.preventDefault();
                    return;
                }

                const todosBarcodes = produtosSelecionados.flatMap(cb => JSON.parse(cb.value));
                document.getElementById("item_list").value = JSON.stringify(todosBarcodes);

                // Ativa o progresso animado estilo Caipira
                document.body.classList.add("loading");
                progressContainer.style.display = "block";
                iniciarProgressoReal(); 

                // Inicia animação visual
                const progressoCaipira = document.getElementById("progressoCaipira");
                const mensagem = document.getElementById("caipiraMensagem");
                let progresso = 0;
                const interval = setInterval(() => {
                    progresso += 2;
                    progressoCaipira.style.width = `${progresso}%`;
                    document.getElementById("textoProgresso").textContent = `${progresso}% - Buscando ofertas...`;


                    if (progresso >= 100) {
                        clearInterval(interval);
                        mensagem.textContent = "🛒 Chegou ao mercado!";
                    } else if (progresso >= 70) {
                        mensagem.textContent = "🏃‍♂️💨 Correndo para o mercado...";
                    } else if (progresso >= 40) {
                        mensagem.textContent = "🌳 Passando pelas árvores...";
                    } else {
                        mensagem.textContent = "🚶‍♂️ Saindo de casa...";
                    }
                }, 100);
            });

            const categorias = {
                'FEIJAO Kg': ["7896006744115", "7893500007715", "7898383101000", "7898907040969", "7898902735167"],
                'ARROZ Kg': ["7896006716112", "7893500024996", "7896012300213", "7898018160082", "7896084700027"],
                'MACARRAO 400g': ["7896213005184", "7896532701576", "7896022200879", "7896005030530", "7896016411021"],
                'FARINHA MANDIOCA Kg': ["7898994092216", "7898902735099", "7898272919211", "7898272919068", "7898277160021"],
                'CAFE 250g': ["7896005800027", "7896224808101", "7896224803069", "7898286200060", "7896005213018"],
                'BOLACHA': ["7896213006266", "7896005030356", "7898657832173", "7896003738636", "7891962014982"],
                'FLOCAO MILHO 500g': ["7896481130106", "7891091010718", "7898366932973", "7898932426042", "7898366930023"],
                'MARGARINA 250g': ["7894904271733", "7893000979932", "7894904929108", "7891152506815", "7891515901066"],
                'MANTEIGA 200g': ["7898912485496", "7896596000059", "7896010400885", "7898939253399", "7898043230798"],
                'LEITE PO 200g': ["7898215152330", "7896051130079", "7898949565017", "7896259410133", "7898403780918"],
                'LEITE UHT Lt': ["7896259412861", "7898118390860", "7898403782394", "7898387120380", "7896085393488"],
                'OLEO DE SOJA 900ml': ["7891107101621", "7892300001428", "7898247780075", "7896036090244", "7892300030060"],
                'ACUCAR CRISTAL Kg': ["7896065200072", "7896215300591", "7896065200065", "7897261800011", "7897154430103"],
                'OVOS 30un': ["7898644760175", "7898903159078", "7897146402064", "7898968933156", "7897146401067"],
                'SARDINHA 125g': ["7891167021013", "7891167023017", "7891167023024", "7896009301063", "7891167021075"]
            };

            const checkboxContainer = document.getElementById("categoryCheckboxes");
            checkboxContainer.innerHTML = "";
            for (const [nome, codigos] of Object.entries(categorias)) {
                const div = document.createElement("div");
                div.className = "form-check";

                const input = document.createElement("input");
                input.type = "checkbox";
                input.className = "form-check-input";
                input.name = "category";
                input.value = JSON.stringify(codigos);

                const label = document.createElement("label");
                label.className = "form-check-label";
                label.innerText = nome;

                div.appendChild(input);
                div.appendChild(label);
                checkboxContainer.appendChild(div);
            }


            const selectAllCheckbox = document.getElementById("selectAllCheckbox");
            selectAllCheckbox.addEventListener("change", () => {
                document.querySelectorAll('input[name="category"]').forEach(cb => cb.checked = selectAllCheckbox.checked);
            });

            const btnBuscar = document.getElementById("btnBuscar");

            // Habilita/desabilita botão com base nos produtos selecionados
            function atualizarBotaoBuscar() {
                const algumSelecionado = document.querySelectorAll('input[name="category"]:checked').length > 0;
                btnBuscar.disabled = !algumSelecionado;
                btnBuscar.setAttribute("aria-disabled", String(!algumSelecionado));

            }

            // Adiciona o listener a cada checkbox individual
            document.querySelectorAll('input[name="category"]').forEach(cb => {
                cb.addEventListener("change", atualizarBotaoBuscar);
            });

            // Listener também para o checkbox "Selecionar Todos"
            document.getElementById("selectAllCheckbox").addEventListener("change", atualizarBotaoBuscar);

            // Atualiza estado inicial do botão ao carregar os checkboxes
            atualizarBotaoBuscar();
        });

        function iniciarProgressoReal() {
            const barra = document.getElementById("barraProgressoInterna");
            const texto = document.getElementById("textoProgresso");
            const caipira = document.getElementById("caipiraIcon");
            const caminho = document.querySelector(".caipira-caminho");

            // Mostrar a barra de progresso
            document.getElementById("progressContainer").style.display = "block";
            caipira.classList.add("andando");

            const mensagens = {
                0: "🏠 To Pesquisando aqui...",
                10: "🚶‍♂️ To achando procurando as ruas...",
                25: "🌳 Passando pelas árvores...",
                40: "🏃‍♂️ Acelerando o passo...",
                60: "🏃‍♂️💨 Quase chegando...",
                80: "🛒 Avistando os mercados...",
                95: "🎉 Desenhando a sua rota...",
                100: "✅ Pronto canguinha! Caminho da pechinchar encontrado!"
            };

            const interval = setInterval(() => {
                fetch("/progresso-status/", {
                    credentials: 'include'  // 🔑 ESSENCIAL PARA ENVIAR COOKIE DE SESSÃO
                })
                    .then(res => res.json())
                    .then(data => {
                        const progresso = Math.min(data.porcentagem || 0, 100);
                        console.log("🎯 Progresso recebido do backend:", progresso);

                        barra.style.width = `${progresso}%`;

                        let mensagemAtual = "🔍 Buscando ofertas...";
                        for (let p in mensagens) {
                            if (progresso >= parseInt(p)) {
                                mensagemAtual = mensagens[p];
                            }
                        }

                        texto.textContent = `${Math.round(progresso)}% - ${mensagemAtual}`;

                        const deslocamento = 100 - (progresso * 0.90);
                        caipira.style.right = `${deslocamento}%`;

                        if (progresso > 0 && progresso < 100 && Math.random() < 0.3) {
                            criarPegada(caminho, deslocamento);
                        }

                        if (progresso >= 100) {
                            clearInterval(interval);
                            caipira.classList.remove("andando");
                        }
                    })
                    .catch((err) => {
                        console.error("Erro ao consultar progresso:", err);
                    });
            }, 500);
        }

        // Função para criar efeito de pegadas (opcional)
        function criarPegada(container, posicao) {
            const pegada = document.createElement('div');
            pegada.className = 'pegadas';
            pegada.style.right = `${posicao + 5}%`;
            container.appendChild(pegada);
            
            // Remove a pegada após a animação
            setTimeout(() => {
                if (pegada.parentNode) {
                    pegada.parentNode.removeChild(pegada);
                }
            }, 2000);
        }
    </script>
</body>
</html>